body,
input {
    font-family: 'Lato', sans-serif;
}

/* general styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #1d374f;
}

p,
p small {
    font-weight: 300;
    color: #909090;
}

hr {
    border-color: #c6ccd2;
}

/* helpers */
.full-width {
    width: 100%;
}

.store-logo {
    height: 1.8rem;
    margin-left: .3em;
    margin-bottom: .1em;
}

.block-center {
    display: block;
    margin: 0 auto;
}

.with-hr {
    border-bottom: 1px solid #c6ccd2;
    padding-bottom: .6em;
    margin-bottom: 1em;
    display: inline-block;
}

.fw-400 {
    font-weight: 400;
    margin: .5em 0;
}

.ellipsis-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.margin-top-5 {
    margin-top: 5rem;
}

.margin-bottom-5 {
    margin-bottom: 5rem;
}

/* components */
.searchbar {
    background-color: #1d374f;
}

.searchbar-inverse {
    background-color: #f89622;
}

input.search-input.form-control {
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding-left: 0px;
    background-color: inherit;
}

input.search-input.form-control::placeholder {
    color: #ecf0f1;
}

/* rating box */
.rating-box {
    background-color: #55a2e8;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.rating-box h1,
.rating-box p small,
.rating-box span {
    color: #fff;
}

.rating-box p {
    margin-bottom: 0;
}

/* stats box */
.stats-box {
    /*max-width: 200px;*/
    border: 1px solid #f89622;
    border-radius: 5px;
    padding: 1rem;
}
.stats-box h1,
.stats-box p {
    color: #f89622;
    margin: 0;
}

.stats-box h1 {
    margin: .5em 0;
}

.stats-box hr {
    border-color: #f89622;
}

div.stats-box.inverse {
    background-color: #f89622;
}

div.stats-box.inverse h1,
div.stats-box.inverse p {
    color: #fff;
}
div.stats-box.inverse hr {
    border-color: #fff;
}

/* buttons */
.buy-button {
    border: 1px solid #1d374f;
    color: #1d374f;
    font-weight: 400;
    text-transform: uppercase;
    padding: .3rem 1.5rem;
    border-radius: 20px;
    min-width: 100px;
    display: block;
    margin: 0 auto;
    font-size: 15px;
}

.buy-button:hover {
    background-color: #1d374f;
    color: #fff;
}

.btn.btn-orange {
    background-color: #f89622;
    color: #fff;
}

/* tags */
span.tag {
    border: 1px solid #f89622;
    color: #f89622;
    text-transform: uppercase;
    padding: .1rem 2rem;
    border-radius: 20px;
    font-weight: 400;
    margin-left: .5rem;
    font-size: 15px;
    display: inline-block;
    margin-top: .2rem;
    margin-bottom: .4rem;
}

.tag.mini {
    display: inline-block;
    width: inherit;
    padding: .1rem;
    font-size: 12px;
    text-align: center;
}



/* specific styles */

.app-icon {
    border-radius: 15px;
}

/* screens */
.app-screenshot {
    height: 400px;
    display: inline-block;
    margin-right: 1rem;
}

.screenshots {
    height: 400px;
    width: 100%;
    white-space: nowrap;
    overflow-y: scroll;
}

/* HOME */

/* call-to-action */
.jumbo {
    background-color: #f89622;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.jumbo h1,
.jumbo p,
.jumbo .lead {
    color: #fff;
}

.charts {
    background-color: #fafbfd;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* ranking */
.ranking-list {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #ecf0f1;
    padding: 0 1em;
}

.ranking-entry {
    border-bottom: 1px solid #ecf0f1;
    padding-top: .5em;
    padding-bottom: .5em;
    display: block;
}

.ranking-entry:hover,
.ranking-entry:active {
    text-decoration: none;
}

.ranking-entry p {
    margin-bottom: 0;
}

.borderless-bottom {
    border-bottom: none;
}

/* footer */
footer p {
    margin: 1.5rem;
}
